.sidebar {
  width: 220px;
  background-color: #1e1e1e;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar a {
  color: #ddd;
  text-decoration: none;
  font-size: 16px;
}

.sidebar a:hover {
  color: white;
  font-weight: bold;
}
